.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.box {
    width: 370px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}



.box-link {
    text-decoration: none;
    display: block;
    
    &:hover,
    &:focus {
    transform: translatey(0);
    }
}



.tehnokryak {
    position: relative;
    overflow: hidden;
}

.tehnokryak-text {
    position: absolute;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--big-fon-color);
    background-color: rgba(33, 150, 243, 0.9);
    top: 0;
    left: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}


.box-link:hover .tehnokryak-text,
.box-link :focus .tehnokryak-text {
    transform: translatey(0);
}

.box-mini {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    width: 370px;
    border: 1px solid #eeeeee;
}

.title-portfolio {
    font-size: 18px;
    /* line-height: 36px; / 18 =2 */
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--top-color);
}

.box-mini__text {
    color: #757575;
    margin-top: 4px;
    font-size: 16px;
    line-height: 1.87;
}

.list-portfolio p {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--text-color);
}