.head {
    background: #2f303a;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.overlay {
    content: "";
    width: 1200px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid black;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../img/fon/fon.jpg");
    background-repeat: no-repeat;

    @media screen and (max-width:480px) {
            width: 100%;
        }
    
        @media screen and (max-width:768px) {
            width: 768px;
        }
    
        @media screen and (max-width:1200px) {
            width: 1200px;
        }
}

.title-main-big {
    color: $big-fon-color;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 696px;
    margin: 0 auto;
}
.btn {
    color: $big-fon-color;
    background-color: $acent-color;
    border: $acent-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    border-radius: 4px;
    width: 216px;
    height: 50px;
    margin: 0 auto;
    margin-top: 30px;

    &:hover,
    &:focus {
            color: $big-fon-color;
            background-color: #188CE8;
            border: $accentBtnColor;
        }
                 
}


