.is-hidden {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    opacity: 0;
}

.btn-section {
    padding-bottom: 94px;
    padding-top: 94px;
    display: block;
    display: flex;
    justify-content: center;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    
}

.list-btn-portfolio {
    display: block;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.btn-portfolio {
    color: var(--top-color);
    background-color: #f5f4fa;
    border: var(--big-fon-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    font-family: inherit;
    cursor: pointer;
    letter-spacing: 0.06em;
    border-radius: 4px;
    padding: 6px 22px;
    height: 38px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
                color: var(--big-fon-color);
                background-color: var(--acent-color);
                border: var(--acent-color);
                box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
                        0px 2px 2px rgba(0, 0, 0, 0.12);
                border-radius: 4px;
            }
}





.list-btn-portfolio li {
    margin-right: 8px;
    display: inline;
    text-align: center;
}